@import './big-breaking.css';
@import './swiper-bundle.min.css';
@import './bootstrap.min.css';
@import './main.css';
@import './webstory.css';
@import './category.css';
@import './style.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
